*
{
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
}

#container
{
    min-height: 100%;
}

#main
{
    overflow: auto;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(800px - (30px * 2));
    margin-top: 15px;
}

#footer
{
    background-color: gray;
    position: relative;
    height: 150px;
    margin-top: -100px;
    clear: both;
    padding: 2px;
}

.header
{
    z-index: 999;
    border-bottom: 1px solid #8b8b8b;
    position: relative;
    min-height: 60px;
}

.wrapper
{
    margin-left: auto;
    margin-right: auto;
    max-width: calc(800px - (30px * 2));
    margin-top: 15px;
    margin-bottom: 15px;  
}

.title
{ /*header*/
    color: black;
    float: left;
    margin: 15px 0px 0px 10px;
    font-size: 30px;
}

.wrapper nav
{ /*header*/
    float: right;
}

#footer nav .footer_nav
{
    text-align: center;
}

nav .footer_nav li
{
    position: relative;
    list-style: none;
    float: none;
    display: inline-block;
    margin: 20px 100px 20px 100px;
}

nav .footer_nav li a
{
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    text-align: center;
}

nav .footer_nav li:hover
{ /*header, footer */
    transform: scale(1.1);
}

nav .main_nav li
{ /*header, footer */
    float: left;
    position: relative;
    list-style: none;
}

nav .main_nav li:hover
{ /*header, footer */
    transform: scale(1.1);
}

.link_titles
{
    text-align: center;
    width: auto;
    padding-top: 10px;
}

nav .main_nav li a
{
    display: block;
    padding: 22px 20px 5px;
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.latest_video
{
    margin: 5%;
    position: relative;
}

h4
{
    font-size: 20px;
}

#footer h4
{
    text-align: center;
    margin: 10px;
}

p
{
    font-size: 18px;
}

.subscribe
{
    margin: 50px 10px;
}

.game a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.game a:hover
{
    color: blue;
}

.game_rules
{
    margin-left: 1rem;
    padding-left: 25px;
    padding-right: 25px;
}

.game_rules li ul
{
    padding-left: 25px;
    padding-right: 25px;
}

.game_link
{
    margin: 10px
}

.game_link a
{
    text-decoration: underline;
    font-size: 15px;
    color: blue;
}

/* The sidenav */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;
}


/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: darkgray;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}